footer {
	height: 50px;
	margin-top: 10px;
}

.social-buttons {
	text-align: center;
	padding: 10px;
	width:100%;
}

	.social-buttons h5 {
		text-transform: uppercase;
		font-family: Leelawadee;
		font-size: 16px;
		letter-spacing: 2px;
	}

.social-button {
	width: 60px;
	height: 60px;
	display: inline-block;
	background-size: 60px;
	background-repeat: no-repeat;
	margin: 0 15px 0 15px;
}

.social-button.facebook {
	background-image: url(../../assets/icons/facebook-light.svg);
}
	.social-button.instagram {
		background-image: url(../../assets/icons/instagram-light.svg);
	}
	.social-button.mail {
		background-image: url(../../assets/icons/mail-light.svg);
	}