footer {
	height: 50px;
	margin-top: 10px;
}

.social-buttons {
	text-align: center;
	padding: 10px;
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
	margin-right: 10px;
}

	.social-buttons h5 {
		text-transform: uppercase;
		font-family: Leelawadee;
		font-size: 16px;
		letter-spacing: 2px;
		color: white;
	}

.social-button {
	width: 40px;
	height: 40px;
	display: inline-block;
	background-size: 40px;
	background-repeat: no-repeat;
	margin: 0 15px 0 15px;
}

.social-button.facebook {
	background-image: url(../../assets/icons/facebook.svg);
}
	.social-button.instagram {
		background-image: url(../../assets/icons/instagram.svg);
	}
	.social-button.mail {
		background-image: url(../../assets/icons/mail.svg);
	}