.react-multi-carousel-item {
	transition: all linear 0.2s;
	padding-bottom: 50px;
}

.tour-item {
	padding: 10px;
	background-color: grey;
	margin-right: 10px;
	border-radius: 10px;
	height: 280px;
	color: white;
	position: relative;
	cursor: pointer;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.tour-item > .tour-title {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
}

.tour-item > .tour-author {
	position: absolute;
	bottom:0;
}

.tour-item > .overlay {
	width: 100%;
	background-image: linear-gradient(to top,#333, rgba(255,0,0,0));
	height: 180px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 0 0 10px 10px;
}

	.tour-item .modality {
		position: absolute;
		width: 40px;
		height: 40px;
		background-color: #333333;
		top: 20px;
		right: 0;
		border-radius: 10px 0 0 10px;
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: 3px 3px;
		padding: 10px;
	}
	.tour-item.see-more-tours {
		max-width: 150px;
	}

	.tour-item.see-more-tours .compass {
		background-image: url(../../assets/icons/compass.svg);
		width: 80px;
		height: 80px;
		display: block;
		background-repeat: no-repeat;
		background-size: 80px;
		position: absolute;
		top: 25%;
		left: 22%;
	}
	.tour-item .modality.modality-walk {
		background-image: url(../../assets/icons/walking.svg);
	}

	.tour-item .modality.modality-bike {
		background-image: url(../../assets/icons/bike.svg);
	}
