@font-face {
	font-family: 'PlayfairDisplay';
	src: local('Rajdhani'), url(../../assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'PlayfairDisplay';
	src: local('Rajdhani'), url(../../assets/fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf) format('truetype');
}
@media (min-width: 1200px) {
	.container, .container-sm, .container-md, .container-lg, .container-xl {
		max-width: 980px;
	}
}
body {
	overflow-x: hidden;
}

.title {
	font-weight: 800;
	font-size: 46px;
}

.subtitle {
	color: #666666;
	font-style: italic;
	font-family: "PlayfairDisplay";
}

.highlight-title {
	font-family: Leelawadee;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.highlight-section {
	padding: 20px;
	color: white;
	border-radius: 10px;
	background-color: #333333;
	margin-bottom: 5px;
	display: flex;
	text-align: center;
}

	.highlight-section .hightlight-square .highlight-text .modality, .highlight-section .hightlight-square .highlight-text .type {
		background-size: 35px;
		width: 35px;
		height: 42px;
		display: inline-block;
		background-repeat: no-repeat;
		background-position: 0 10px;
	}

	.highlight-section .hightlight-square {
		flex-grow: 1;
	}
		.highlight-section .hightlight-square .highlight-text {
			font-size: 40px;
		}
			.highlight-section .hightlight-square .highlight-title{
				font-size: 12px;
			}.highlight-more-info {
				margin-bottom: 24px;
			}
.highlights {
	font-style: italic;
	font-family: "PlayfairDisplay";
}

.additional-info {
	padding: 20px;
	border-radius: 10px;
	color: white;
	background-color: #666666;
	margin-top: 20px;
	margin-bottom: 20px;
}

#anchor-book {
	background-color: #F2A643;
	border: none;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	text-align: center;
	color: black !important;
	font-size: 20px;
}

.description {
	font-family: "PlayfairDisplay";
	font-size: 17px;
	letter-spacing: 0.5px;
}

.content {
	font-family: PlayfairDisplay;
	font-size: 21px;
	padding-bottom: 30px;
	line-height: 32px;
}

.tour-picture {
	width: 100%;
}

.see-more {
	color: #707070 !important;
	border-color: #707070 !important;
	font-family: Leelawadee;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}

.tour-icon {
	height: 25px;
	width: 20px;
	background-size: 20px;
	background-repeat: no-repeat;
	display: inline-block;
	background-position: 0 5px;
	margin-right: 10px;
	margin-top: 8px;
}

.tour-icon.icon-calendar {
	background-image: url(../../assets/icons/calendar.svg);
}
.tour-icon.icon-health {
	background-image: url(../../assets/icons/health.svg);
}
.tour-icon.icon-leaf {
	background-image: url(../../assets/icons/leaf.svg);
}
	.tour-icon.icon-info {
		background-image: url(../../assets/icons/info.svg);
	}
.general-info {
	padding: 20px;
	border-radius: 10px;
	background-color: #eeeeee;
	margin: 0 10px 20px 10px;
	font-family: Leelawadee;
}