.tours-list .tour-item {
	width:360px;
	display: inline-block;
}

.tours-filter {
	width: 100%;
	padding: 5px;
	margin-bottom: 20px;
}

.tours-list {
	text-align: center;
}

.tours-list-background {
	background-image: url(../../assets/images/background3.jpg) !important;
}

@media (max-width: 950px) {
	/*.tours-list {
		margin-top: 0 !important;
	}*/

		.tours-list .tour-item {
			width: 100%;
		}
}