.container {
	margin-top: 30px;
	padding: 20px 30px 20px 30px;
	background-color: white;
	border-radius: 20px;
}

.whoweare-background {
	background-image: url(../../assets/images/background2.jpg);
	background-size: cover;
	position: absolute;
	top: 90px;
	left: 0;
	right: 0;
	bottom: 0;
}
	.whoweare-background h1 {
		font-size:3rem;
	}
	.whoweare {
	}

@media (max-width: 950px) {
	.whoweare-background {
		top: 80px;
	}
}